: fibo; (int n) -> int 
	ifeq le, $sp, 1
	jump ret
	
	sub $sp, 1
	call fibo
	
	swap
	sub $sp, 2
	call fibo
	swap
	pop
	add
	
	jump ret

: .start
	mov reg, 0

	: loop
		push $reg
		call fibo
		print $sp, "\n"
		pop

		add $reg, 1
		pop reg
		
		ifeq le, $reg, 30
		jump loop
	
	mov reg, 0
	jump ret; exit
