: strlen
	mov rcx, 0

	: strlen_loop
		add $rcx, $sp

		movn 1, reg, $$sp
		pop
		
		add $rcx, 1
		pop rcx

		ifeq ne, $reg, 0
		jump strlen_loop
	
	sub $rcx, 1; Roll back by NUL

	jump ret
	
: puts
	call strlen; Get length of given string

	swap ; Change stack to be (length, string)

	push 1 ; Push stdout

	syscall 3, 1

	; Clean up
	
	jump ret

: main
	
	push "Hello some long string I don't know the size of!\n"

	call puts
	
	mov reg, 0
